<div class="font-type">
  <header>
    <article class="toolbar">
      <img [routerLink]="['/home']" class="toolbar__img" src="assets/img/image2vector.svg" alt="reapay.io">
      <div class="toolbar__btn">
                    <span>
                        <button [routerLink]="['/dashboard']">dashboard</button>
                    </span>
        <button>log out</button>
      </div>
    </article>
  </header>
  <main>
    <article class="review">
      <h1>REVIEW AND SEND</h1>
      <section class="review__top">
        <h4 class="review__top_title">RECIPIENT INFORMATION</h4>
        <div class="review__top_item">
          <span>Name:</span>
          <span>{{currentUser.userName}}</span>
        </div>
        <div class="review__top_item">
          <span>Payable To:</span>
          <span>{{transaction.realtorDisbursementList[0].receiverName}}</span>
        </div>
        <div class="review__top_item">
          <span>Scheduled Funding:</span>
          <span>{{transaction.transactionDetails.closingDate}}</span>
        </div>
        <div class="review__top_item review__top_item--action">
          <span>Funding:</span>
          <span>Pick up a check at closing <a href="#" class="">Change</a></span>
        </div>
        <div class="review__top_item">
          <span>Phone:</span>
          <span>{{currentUser.phoneNumber}}</span>
        </div>
        <div class="review__top_item">
          <span>Email:</span>
          <span>{{transaction.realtorEmail}}</span>
        </div>
      </section>
      <section class="review__top">
        <h4 class="review__top_title">BROKER AND CLOSER</h4>
        <div class="review__top_item">
          <span>BrokerCompany Name:</span>
          <span>{{transaction.brokerDisbursementList[0].receiverName}}</span>
        </div>
        <div class="review__top_item">
          <span>BrokerCompany Email:</span>
          <span>{{transaction.brokerEmail}}</span>
        </div>
        <div class="review__top_item">
          <span>Closer Name:</span>
          <span>{{currentUser.closerName}}</span>
        </div>
        <div class="review__top_item">
          <span>Closer Email:</span>
          <span>{{currentUser.closerEmail}}</span>
        </div>
      </section>
      <section class="review__transition">
        <h4 class="review__top_title">TRANSACTION DETAILS</h4>
        <div class="review__top_item">
          <span>Name:</span>
          <span>{{currentUser.userName}}</span>
        </div>
        <div class="review__top_item">
          <span>Scheduled Funding:</span>
          <span>{{transaction.transactionDetails.closingDate}}</span>
        </div>
        <div class="review__top_item">
          <span>Phone:</span>
          <span>{{currentUser.phoneNumber}}</span>
        </div>
      </section>
      <section class="review__bottom">
        <div class="review__bottom_item">
          <div>
            <span>Amount:</span>
            <span>$4,407.75</span>
          </div>
          <div>
            <span>A funds transfer of $4,407.75 will be given to you following close of escrow.</span>
            <span></span>
          </div>
        </div>
        <div class="review__bottom_item">
          <div>
            <span>Fee:</span>
            <span>$50</span>
          </div>
          <div>
            <span>$50 will be debited from your bank account:</span>
            <span>Traditions Bank *****9823 <a href="#">Change</a></span>
          </div>
        </div>
      </section>
      <section class="review__submit">
        <form action="#" class="review__submit_item" method="" autocomplete="off">
          <input type="submit" value="save" [routerLink]="['/dashboard']">
          <input type="submit" value="save for approval" [routerLink]="['/dashboard']">
        </form>
      </section>
    </article>
  </main>
</div>
