<!-- <div class="font-type">
  <header>
    <article class="toolbar">
      <img [routerLink]="['/home']" class="toolbar__img" src="assets/img/image2vector.svg" alt="reapay.io">
      <div class="toolbar__btn">
        <button [routerLink]="['/login']">LOG IN</button>
      </div>
    </article>
    <article class="slogan">
      <section class="slogan__item slogan__first">
        We allow Realtors to collect their commission at closing.
        <button class="slogan__btn" [routerLink]="['/sign-up']">
          get started
        </button>
      </section>
      <section class="slogan__item slogan__second">
        The perfect payments platform to connect <a href="#">REALTORS</a> with their BrokerCompany and Closers.
      </section>
    </article>
  </header>
  <div class="test">
    <main>
      <article class="annotation">
        <section class="annotation__item">
          <img class="annotation__img" src="../../../assets/img/boxLock.svg" alt="safe & secure">
          <h2>Safe & Secure</h2>
          <p>
            Robust encryption, bank compliance and fraud prevention backed by some of the most powerful names in
            security
            will keep your business safe.
          </p>
        </section>
        <section class="annotation__item">
          <img class="annotation__img" src="../../../assets/img/transparent.svg" alt="Transparent">
          <h2>Transparent</h2>
          <p>
            You’ll never have to worry about where your money is, or when it will arrive. Follow your money with our
            real-time payment tracker.
          </p>
        </section>
        <section class="annotation__item">
          <img class="annotation__img" src="../../../assets/img/simple.svg" alt="Simple">
          <h2>Simple</h2>
          <p>
            Setup is free and in just a few minutes you can pay or get paid while never having to share your account
            information with vendors or contractors.
          </p>
        </section>
      </article>
    </main>
  </div>
</div> -->

<div class="mainContainer text-white">
  <div class="header f-18">
    reapay.io <span class="float-r btn" [routerLink]="['/login']">Log in</span>
  </div>
  <div class="px-30 mt-30">
    <div class="f-20">
      We help Realtors<sup>&reg;</sup> get paid at <br>close.
    </div>
    <div class="btn-white float-l mt-30 f-18"><b>Get Started</b></div>
  </div>
</div>